.texto{ float: left; margin-top: 60px}
.foto{ float: left; width: 40%}
.corpo{  width: 1200px; margin: 0 auto}
.portfolio{float: left; width: 30%; }
.formulario{float: left; width: 50%;}
#sobre{ margin-top: 20px;}